.imgFundoSobreNos {

  display: flex;
  width: 100%;
  height: 750px;

}

.sobreNos {

  background-image: url('../../img/fundoSobreNos.png');
  display: flex;
  justify-content: flex-end;

}

.sobreNos h1 {

  position: absolute;
  top: 215%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;

}

.sobreNos p {

  position: absolute;
  font-size: large;
  margin-top: 25%;
  margin-left: 5%;
  margin-right: 45%;
  color: #fff;
  text-align: justify;

}

.imgContador {

  position: absolute;
  margin-top: 20%;
  margin-bottom: 10%;
  margin-left: 15%;
  margin-right: 10%;

}