.sobreNos {

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh;

}

.containerSobreNos{

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 23%;
  margin-left: 5%;


}