.containerHome {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  width: 100%;
  position: relative;
  display: flex;
}


.home {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .containerHome {
    background-position: center top; 
    min-height: 75vh; 
  }

  .home {
    min-height: 75vh;
    padding: 32px 16px;
  }

  .logoTelaInicial {
    width: clamp(320px, 40vw, 280px);
  }
}

