.containerObjetivos {

  display: flex;
  background-color: #fff;

}

@media screen and (max-width:900px) {

  .containerObjetivos {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }
  
  .boxObjetivos {
    width: 80%;
  }

}

.containerObjetivos h1{

  margin-bottom: 12px;

}

.containerObjetivos img {

  margin-bottom: 3%;
  width: 40%;

}

.containerObjetivos ul {

  justify-content: center;
  align-content: center;
  text-align: start;
  

}

.containerObjetivos li{

  margin-left: 2%;
  margin-bottom: 2%;

}


.boxObjetivos {

  background-color: #ffffff;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 6%;
  margin-bottom: 4%;
  width: 30%;
  padding: 2%;
  text-align: center;

}

.boxObjetivos li::before{

    content: "➤";
    color: black;

}

.buttonServicos{

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #fff;

}

.buttonServicos a{

  padding: 13px 30px;
  border: 0.1px solid rgb(156, 156, 156);
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 0, 0);

}

.buttonServicos a:hover{

  border: 1px solid white;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);

}