.containerObjetivos {

  display: flex;
  background-color: #fff;

}

@media screen and (max-width:900px) {

  .containerObjetivos {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

}

.containerObjetivos img {

  margin-bottom: 3%;
  width: 40%;

}

.containerObjetivos ul {

  justify-content: 'center';
  align-content: center;
  text-align: start;

}

.containerObjetivos li{

  margin-left: 2%;
  margin-bottom: 2%;

}


.boxObjetivos {

  background-color: #ffffff;
  
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 6%;
  margin-bottom: 8%;
  width: 30%;
  padding: 2%;
  text-align: center;

}