.containerContato {
  display: flex;
  margin-bottom: 60px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}

.contato h1 {
  font-size: 4rem;
  border-bottom: 2px solid rgb(145, 145, 145);
  width: 100px;
}

.contato {
  color: rgb(0, 0, 0);
  padding: 5%;
}

.informacoes h3 {
  padding-top: 40px;
  padding-bottom: 20px;
}

.contato a {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  text-decoration: none;
  color: black;
}

.informacoes p {
  padding-top: 40px;
}

.contato h3 {
  padding-top: 40px;

}

.boxinformacoes {
  margin-left: 60px;

}

.informacoes {
  display: flex;

}

.map {
  width: 50%;
  height: 400px;
  padding: 10px;
}

@media (max-width: 1100px) {

  .containerContato {
    display: flex;
    flex-direction: column;

  }

  .map {
    width: 100%;
  }

  .contato {

    display: flex;

  }

  .informacoes {

    display: flex;
    flex-direction: column;

  }

  .horarioAtendimento {

    margin-left: 60px;

  }

  .boxinformacoes {

    margin-left: 60px;

  }

}

@media (max-width: 768px) {

  .containerContato {
    display: flex;
    flex-direction: column;
  }

  .contato {

    display: flex;
    flex-direction: column;

  }

  .informacoes {
    display: flex;
    flex-direction: column;
  }

  .horarioAtendimento {

    margin-left: 0px;

  }

  .boxinformacoes {
    margin-left: 0px;

  }

}