.servicos {

  background-color: #fff;
  padding: 5px;

}

.containerSimplesLucro {

  margin: 10%;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.containerServicoSolucoes {

  margin: 10%;
  gap: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.containerServicoPrevidenciario {

  margin: 10%;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

}


.servicos ul {

  list-style-type: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(0, 0, 0);
  align-items: start;

}

.servicos h1 {

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #000000;
  font-size: 400%;

}


#buttonSimplesLucro {

  display: flex;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;


}

#buttonSimplesLucro a{

  padding: 13px 20px;
  border: 1px solid rgb(156, 156, 156);
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  color: black;

}

.servicos img {

  width: 800px;
  filter: brightness(50%);

}