.head {

  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #2A373F;
  box-shadow: 1px 3px 13px;
  z-index: 1000;

}

.head img {
  padding-top: 5px;;
  height: 55px;
}

.navButtons a {
  position: relative;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  margin: 12px;
  font-size: 100%;
  color: #fff;
  text-decoration: none;
  
}

.navButtons a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;    
  width: 0%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: width 0.5s ease;
}


.navButtons a:hover::after {
  width: 70%;
}

