.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #2A373F;
  box-shadow: 1px 3px 13px;
  z-index: 1000;
}

.header img {
  padding-top: 5px;
  height: 55px;
}

.navButtons a {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 12px;
  font-size: 100%;
  color: #fff;
  text-decoration: none;
}

.navButtons a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: width 0.4s ease;
}

.navButtons a:hover::after {
  width: 70%;
}

.btn-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.icone {
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: relative;
  transition: 0.3s ease;
}

.icone::before,
.icone::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  left: 0;
  transition: 0.3s ease;
}

.icone::before {
  top: -8px;
}

.icone::after {
  top: 8px;
}

@media screen and (max-width: 768px) {

  .navButtons a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: width 0.4s ease;
  }

  .navResponsive.active .icone {
    background-color: transparent;
  }

  .btn-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navButtons {
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #2A373F;
    text-align: center;
    overflow: hidden;
    visibility: hidden;
    transition: 0.4s ease;
  }

  .navButtons.show {
    height: calc(100vh - 4rem);
    visibility: visible;
  }

  .menu a {
    display: block;
    padding: 20px;
    color: #fff;
  }

  .navResponsive.active .icone {
    border-top-color: transparent;
  }

  .navResponsive.active .icone::before {
    transform: rotate(45deg);
    top: 0;
  }

  .navResponsive.active .icone::after {
    transform: rotate(-45deg);
    top: 0;
  }
}