.footer {

    background-color: rgb(184, 184, 184);

}

.boxFooter h3 {

    padding: 5px;
    border-bottom: 2px solid rgb(145, 145, 145);
    width: 50px;

}

.containerFooter {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: smaller;
    text-align: start;
    gap: 25px;
    padding: 55px 80px 15px 80px;
    line-height: 1.5em;

}

.containerFooter a:hover {

    color: #2A373F;

}

.boxFooter a {

    color: black;
    text-decoration: none;
    list-style: none;
    line-height: 1.8em;

}

.boxFooter li {

    color: black;
    text-decoration: none;
    list-style: none;
    line-height: 1.8em;

}

.boxFooter p {

    color: black;
    text-decoration: none;
    list-style: none;
    line-height: 1.8em;
    margin: 5px 0px 5px 0px;

}

#iconsContato {

    margin: 0 40px;

}

#copyright {

    padding-left: 15px;
    padding-right: 15px;
    font-size: 75%;
    margin-top: 3%;
    text-align: center;

}

#copyright p {

    font-size: 90%;

}

#espacamento {

    margin: 5px 0px 5px 0px;

}


@media screen and (max-width: 1337px) {

    .boxFooter {

        width: 100%;
        max-width: 350px;

    }

    .horario {

        display: flex;

    }

    .horariosSexta {

        padding-left: 40px;

    }

    .horariosAtendimento {

        margin-left: 60px;

    }

    #informacoesFooter {

        order: 1;
    }

    #contatoFooter {

        order: 2;
    }

    #navegacaoFooter {

        order: 3;
    }
}

@media screen and (max-width: 1022px) {

    #informacoesFooter {

        order: 2;
    }

    #contatoFooter {

        order: 1;
    }

    #navegacaoFooter {

        order: 3;
    }

}

@media screen and (max-width: 1235px) {
    .containerFooter {
        padding: 40px 50px 15px 50px;
    }
}

@media screen and (max-width: 852px) {

    .containerFooter {

        width: auto;
        display: flex;
        flex-direction: column;

    }

}

.desktop {
    display: block;
}

.mobile-430 {
    display: none;
}

@media screen and (max-width: 430px) {
    .desktop {
        display: none;
    }

    .mobile-430 {
        display: block;
    }

    #espacamento {

        margin: 10px;

    }
}