.footer {

    background-color: rgb(184, 184, 184);

}

.enderecoFooter h3 {

    font-style: normal;
    padding: 0px;

}

.boxFooter h3 {

    padding: 5px;
    border-bottom: 2px solid rgb(145, 145, 145);
    width: 50px;

}

.containerFooter {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: smaller;
    text-align: start;
    gap: 25px;
    padding: 15px;
    margin-right: 30px;
    line-height: 1.5em;

}

.containerFooter a:hover {

    color: #2A373F;

}

.boxFooter a,
li {

    color: black;
    text-decoration: none;
    list-style: none;

}



/* #navegacaoFooter li::before {

    content: "";
    color: black;

} */

#iconsContato {

    margin: 0 40px;

}


#copyright {

    padding: 0.2%;
    font-size: 75%;
    margin-top: 3%;
    text-align: center;

}

@media screen and (max-width: 1218px) {

    .boxFooter {

        width: 350px;

    }

    #informacoesFooter {

        order: 1;
    }

    #contatoFooter {

        order: 2;
    }

    #navegacaoFooter {

        order: 3;
    }
}

@media screen and (max-width: 982px) {

        #informacoesFooter {

        order: 2;
    }

    #contatoFooter {

        order: 1;
    }

    #navegacaoFooter {

        order: 3;
    }

}

@media screen and (max-width: 852px) {

    .containerFooter {

        display: flex;
        flex-direction: column;

    }


}