.footer {

    background-color: rgb(184, 184, 184);

}


.boxFooter h3 {

    padding: 5px;
    border-bottom: 2px solid rgb(145, 145, 145);
    width: 50px;

}

.containerFooter {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: smaller;
    text-align: start;
    gap: 25px;
    padding: 15px;
    margin-right: 30px;
    line-height: 1.5em;

}

.containerFooter a:hover{

    color: #2A373F;

}

.boxFooter a, li{

    color: black;
    text-decoration: none;
    list-style: none;

}



#navegacaoFooter li::before{

    content: "-";
    color: black;

}

#iconsContato{

    margin: 0 40px;
    
}


#copyright {

    padding: 0.2%;
    font-size: 75%;
    margin-top: 3%;
    text-align: center;

}

@media screen and (max-width: 1020px) {

    .boxFooter{

        width: 280px;

    }

}

@media screen and (max-width: 852px) {

    .containerFooter {

        display: flex;
        flex-direction: column;

    }


}